/*solución punto 10*/

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    font: 1.2em/1.2 Helvetica, aria, sans-serif;
    margin: 0 3%;
}
h1 {
    font-size: 1.8em;
    margin: .9em 0 0 0;
}
h2 {
    font-size: 1.5em;
    margin: 1.5em 0 0 0;
}
img {
    max-width: 100%;
}

/*configuración predeterminada del Responsive Design cuando la resolucion está por fuera de los rangos establecidos*/
figure {
    background: black;
    border-radius: 15px;
    color: white;
    margin: 0 0 25px 0;
    padding: 10px;
    text-align: center;
}
figcaption {
    font-size: .8em;
}

/*Responsive Design a la resolución desde 794px hasta 1019*/
@media screen and (min-width: 794px) {
    body {
        background: rgba(129, 236, 255, 0.699);
        margin: 25px 6%;
    }
    figure {
        float: left;
        width: 45%;
        margin-right: 4.5%;
        color: rgb(2, 79, 141);
        font-weight: bold;
        background: rgba(3, 36, 146, 0.445)
    }
}

/*Responsive Design a la resolución desde 1020x hasta 1130*/
@media screen and (min-width: 1020px) {
    body {
        background: rgba(196, 122, 214, 0.2);
        margin: 25px 10%;
        max-width: 1130px;
    }
    figure {
        width: 30%;
        margin-right: 2.5%;
        color: rgb(105, 28, 238);
        font-weight: bold;
        background: rgba(53, 3, 146, 0.445)
    }
}
.nombre {
    color: rgb(240, 93, 7);
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}